@font-face {
  font-family: 'TT Norms Pro Regular';
  font-style: normal;
  font-weight: normal;
  src: local('TT Norms Pro Regular'),
    url('/fonts/TT Norms Pro Regular.woff') format('woff');
}

@font-face {
  font-family: 'TT Norms Pro Medium';
  font-style: normal;
  font-weight: normal;
  src: local('TT Norms Pro Medium'),
    url('/fonts/TT Norms Pro Medium.woff') format('woff');
}

@font-face {
  font-family: 'TT Norms Pro Bold';
  font-style: normal;
  font-weight: normal;
  src: local('TT Norms Pro Bold'),
    url('/fonts/TT Norms Pro Bold.woff') format('woff');
}

.container {
  height: 100vh;
  overflow: hidden;
  background-color: var(--yellow-500);
}

.container_top {
  height: 60vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  padding-bottom: 20px;
}

.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 303px;
  height: 304px;
  position: relative;
  z-index: 0;
}

.hero_1 {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
  opacity: 0;
  animation: fade-in 3s 1s forwards;
}

.hero_2 {
  transform: translateY(-60vh);
  animation: fall-in 1.2s 0.3s forwards;
}
@keyframes fall-in {
  to {
    transform: translateY(0);
  }
}

.hero_shadow {
  width: 301px;
  height: 12px;
  border-radius: 50%;
  background-color: var(--yellow-800);
  position: absolute;
  bottom: 0;
  z-index: -1;
  opacity: 0;
  animation: fade-in 3s 1s forwards;
}
@keyframes fade-in {
  to {
    opacity: 1;
  }
}

.container_bottom {
  height: 40vh;
  padding: 40px 24px 0;
  display: flex;
  flex-direction: column;
  background-color: white;
  transform: translateY(40vh);
  animation: slide-in 0.8s 1.8s linear forwards;
}
@keyframes slide-in {
  to {
    transform: translateY(0);
  }
}

.header {
  width: 299px;
  height: 75px;
}

.header h1 {
  font-family: 'TT Norms Pro Bold';
  font-weight: 700;
  font-size: 16px;
  height: 19px;
  line-height: 100%;
  color: #27214d;
  margin-bottom: 10px;

  opacity: 0;
  transform: translateX(-350px);
  animation: slide-in-left 0.8s 2.6s forwards;
}
@keyframes slide-in-left {
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.header p {
  font-family: 'TT Norms Pro Regular';
  font-weight: 400;
  font-size: 16px;
  height: 48px;
  line-height: 24px;
  letter-spacing: -0.01em;
  color: #5d577e;

  opacity: 0;
  transform: translateX(-350px);
  animation: slide-in-left 0.8s 3.4s forwards;
}

.continue {
  flex: 1;
  display: flex;
  align-items: center;
}

.continue a {
  width: 100%;
  height: 56px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  background-color: var(--yellow-500);
  border-radius: 10px;
  font-family: 'TT Norms Pro Medium';
  font-size: 16px;
  font-weight: 500;
  letter-spacing: -0.01em;

  transform: scale(0) rotate(0);
  animation: scale-rotate-in 1s 4.2s forwards;
}
@keyframes scale-rotate-in {
  to {
    transform: scale(1) rotate(360deg);
  }
}

.continue a:hover {
  background-color: var(--yellow-800);
}
